/* General */

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

button {
  background: #3882f6;
  color: #f9faf8;
  align-self: flex-start;
  padding: 10px 30px;
  font-weight: 800;
  font-size: 1em;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:active {
  background: #285db3;
}

.header,
.hero,
.footer {
  background: #1f2937;
}

/* Header */

.header-link {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 800;
  flex: 1;
}

.header {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  padding: 0 10%;
}

/* Hero */

.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero p,
a {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
  padding: 0 10%;
}

.hero-main {
  display: flex;
  flex-direction: column;
  min-width: 550px;
  flex: 1;
}

.hero-image {
  width: 600px;
  height: 250px;
  background: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Info */

.info h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.info p {
  color: #1f2937;
  font-size: 0.75em;
}

/* Quote */

.quote {
  background: #e5e7eb;
}

.quote blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  color: #1f2937;
}

/* Call to action */

.call-to-action {
 background: #3882f6;
 color: #f9faf8;
}

/* Footer */

.footer {
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  font-size: 1.15em;
}

/* Flexbox */

.main-container {
  display: flex;
  flex-direction: column;
}

.central-container {
 flex: 1;
}