/* General */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
}

a {
  text-decoration: none;
}

button {
  align-self: flex-start;
  background: #3882f6;
  border-radius: 8px;
  border: none;
  color: #f9faf8;
  cursor: pointer;
  font-size: 1em;
  font-weight: 800;
  padding: 10px 30px;
}

button:active {
  background: #285db3;
}

.header,
.hero,
.footer {
  background: #1f2937;
}

/* Header */

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
}

.header-link {
  display: flex;
  gap: 25px;
  list-style: none;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 800;
}

/* Hero */

.hero h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.hero p,
a {
  color: #e5e7eb;
  font-size: 18px;
}

.hero p {
  margin-top: 5px;
}

.hero {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 450px;
  padding: 0 20%;
}

.hero-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 550px;
}

.hero-image {
  align-items: center;
  background: #6d747d;
  display: flex;
  height: 225px;
  justify-content: center;
  width: 500px;
}

/* Info */

.info h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 800;
}

.info p {
  color: #1f2937;
  font-size: 0.75em;
}

.info-image {
  border-radius: 1.25em;
  border: 4px solid #3882f6;
  height: 200px;
  margin: 0;
  padding: 0;
  width: 200px;
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 450px;
}

.info-group {
  column-gap: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  max-width: 200px;
  text-align: center;
}

/* Quote */

.quote {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  padding: 0 27.5%;
}

.quote blockquote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  margin: 0;
}

.quote p {
  font-size: 1.5em;
  font-weight: 800;
  margin: 0 0 0 auto;
}

/* Call to action */

.call-to-action {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 400px;
}

.call-container {
  align-items: center;
  background: #3882f6;
  border-radius: 8px;
  color: #f9faf8;
  display: flex;
  gap: 15px;
  min-width: 40%;
  padding: 50px 100px;
}

.call-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
}

.call-button button {
  border: 2px solid white;
}

.call-main > p, h3 {
  margin: 0;
}

.call-main h3 {
  font-size: 1.25em;
}

/* Footer */

.footer {
  align-items: center;
  color: #f9faf8;
  display: flex;
  font-size: 1.15em;
  justify-content: center;
  min-height: 75px;
}